<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body bgcolor="#FDE5F6">
    
    
<dev> 
    <img src="static/result_1.jpeg">
    <img src="static/result.jpeg">
    <img src="static/result_2.jpeg">

    <dev id="intro">
        <h1>Diffusion for image generation </h1>
<p>
   <h1>What are diffusion models</h1> 
    Diffusion models are advanced machine learning algorithms that uniquely generate high-quality data by progressively adding noise to a dataset and then learning to reverse this process.
    This innovative approach enables them to create remarkably accurate and detailed outputs, from lifelike images to coherent text sequences.
    Central to their function is the concept of gradually degrading data quality, only to reconstruct it to its original form or transform it into something new.
    This technique enhances the fidelity of generated data and offers new possibilities in areas like medical imaging, autonomous vehicles, and personalized AI
</p>
    </dev>



</dev>
    <!-- Your content goes here -->
    
    <script src="script.js"></script>
</body>
</html></html>